{% extends "tasks/base.html" %}
{% block content %}
<form action="{% url 'index'%}" method='POST'>
	{% csrf_token %}
	{{ form.title }}
	<input class="btn btn-primary" type="submit" value="Create Task">

</form>
{% for task in tasks %}
	<div>
		<ul class = "list-group list-group-flush">
			<li class="list-group-item">
		{% if task.complete == True %}
		<strike>{{ task }}</strike>
		{% else %}
		<span>{{ task }}</span>
		{% endif %}
		<a class="btn btn-outline-primary" href="{% url 'upd' task.id %}">Update</a>
		<a class="btn btn-danger" href="{% url 'delete' task.id %}">Delete</a>
	        </li>
	    </ul>
	</div>
{% endfor %}
{% endblock %}